<p id="notice"><%= notice %></p>
<p id='notice'><%= alert %></p>

<div class="height justify-content-center align-items-center col-12">

    <div class="card p-3 w-100">

        <div class=" justify-content-between align-items-center ">
            <div class="mt-2">
                <h4 class="text-uppercase">Name: <%= @product.name %></h4>
                <div class="mt-5">
                    <h5 class="text-uppercase mb-0">Description: <%= @product.description %></h5>
                    <h5 class="text-uppercase mb-0">Price: <%= @product.price %></h5>
                    <h1 class="main-heading mt-0">Quantity: <%= @product.quantity %></h1>
                </div>
            </div>
            <div class="image">
             <% if @product.images.attached? %>
              <% @product.images.each do |img| %>
               <%= image_tag url_for(img) , size: '200x200'%>
              <% end %>
             <% end%>
            </div>
        </div>
        <br>
        <br>
        <% if @product.quantity != 0 %>
         <% if current_user && current_user.id != @product.user_id%>
           <%= button_to "Add #{@product.name} to cart", line_items_path(product_id: @product.id), class: "btn btn-danger" %>
         <% elsif current_user.nil? %>
           <%= button_to "Add #{@product.name} to cart", line_items_path(product_id: @product.id), class: "btn btn-danger" %>
         <% else %>
           <p class="btn btn-danger dang">User can not add own product! </p>
         <% end %>
        <% else %>
         <p class="btn btn-danger dang">Product out of stock! </p>
        <% end %>
</div>

<div class="container">
        <div class="row">
            <div id='add-comment' class="col-sm-5 col-md-6 col-12 pb-4 ovf">
                <h1>Comments</h1>
                <% @product.comments.each do |comment| %>
                   <div class="darker mt-4 text-justify col-12">
                    <h4 style="color: white" ><%= comment.name%> <span> - <%= comment.user.username %> </span></h4>
                    <br>
                    <p><%= comment.description %></p>
                    <% if current_user && current_user.id == comment.user_id %>
                      <%=link_to "Edit", edit_product_comment_path(comment.product_id, comment)%>
                      <%= link_to 'Destroy', product_comment_path(comment.product_id, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                   </div>
                <% end %>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">

                    <div>
                        <% if current_user %>
                         <% if @product.user_id != current_user.id %>
                         <h4>Leave a comment</h4>
                         <%= render "comments/form" %>
                         <% end %>
                        <% end %>
                    </div>

            </div>
        </div>
        <br>
        <button class= "btn btn-danger"><%= link_to 'Back', products_path, class: "btn btn-danger" %></button>
</div>
