<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="user_nav">
      <span class='img'>
        <% if current_user %>
          <% if current_user.avatar.attached? %>
            <% img = current_user.avatar %>
              <%= image_tag url_for(img) , size: '50x50' %>
          <% else %>
              <%= image_tag 'ava.png' %>
          <% end %>
        <% end %>
      </span>
      <% if user_signed_in? %>
        Signed in as
        <%= current_user.username %>. Not you?
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path %>
            or
            <%= link_to "sign in", new_user_session_path %>
          <% end %>
    </div>
    <br>
    <%= yield %>
  </body>
</html>
